:root {
    --cor0: #FFF7F3; /* Branco Fumê */
    --cor1: #E8D2B8; /* Bege Creme */
    --cor2: #BF9987; /* Marrom Claro */
    --cor3: #735751; /* Marrom Médio */
    --cor4: #4C413F; /* Marrom Escuro */
    --cor5: #7E5A41; /* Marrom Acobreado */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor1);
    color: var(--cor4);
}

header {
    background-color: var(--cor0);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: var(--cor3);
}

main {
    padding: 20px;
}

.about, .menu {
    background-color: var(--cor0);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.about h2, .menu h2 {
    color: var(--cor3);
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
    font-weight: bold;
}

footer {
    background-color: var(--cor0);
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--cor3);
    color: var(--cor3);
}
