@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Young+Serif&display=swap");

:root {
    --cor0: white;
    --cor1: #A1D6CA;
    --cor2: #6EB7A9;
    --cor3: #5C3C27;
    --cor4: #3F2719;
    --cor5: #7E5A41;
    --fonte-padrao: 'Young Serif', serif;
    --fonte-destaque: 'Libre Baskerville', serif;
}

* {
    margin: 0px;
    padding: 0%;
}

body {
    margin: 0; /* Remover margens padrão do corpo */
    padding: 0; /* Remover preenchimento padrão do corpo */
    background-color: var(--cor3);
    font-family: inherit;
  }

  nav {
    background-color: var(--cor4);
  }

  a {
    background-color: var(--cor1); /* Cor de fundo */
      color: black; /* Cor do texto */
      padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
      text-align: center; /* Alinhamento do texto */
      text-decoration: none; /* Remover sublinhado padrão em links */
      display: inline-block; /* Exibir como bloco em linha */
      font-size: 16px; /* Tamanho da fonte */
      cursor: pointer; /* Cursor do mouse ao passar por cima */
      border: none; /* Remover borda padrão */
      border-radius: 5px; /* Adicionar borda arredondada */
      margin: 0px 100px 30px; /* Adiciona margem entre os botões */
      transition-duration: 0.4s;
      cursor: pointer;
}

a:hover {
    background-color: var(--cor2) ; /* nova cor ao passar o mouse */
}

a:active {
    transform: scale(0.7); /* reduz a escala ao clicar */
   
}
  /* Estilo para o contêiner principal (centralizado) */
.container {
    max-width: 1500px; /* Largura máxima do contêiner */
    margin: 0 auto; /* Auto-margem horizontal para centralizar */
    padding: 20px; /* Preenchimento interno para espaçamento */
    text-align: center; /* Centralizar o texto dentro do contêiner */
  }

div#logo {
    text-align: center;
}

main {
    background-color: var(--cor3);
    color: var(--cor0);
    margin: auto;
}

h1 {
    margin-bottom: 20px; /* Adiciona margem na parte inferior do título */
}

h2 {
    margin-bottom: 20px; /* Adiciona margem na parte inferior do título */
}

p {
    margin-bottom: 20px; /* Adiciona margem na parte inferior do título */
}

p.img{
    width: 977px;
    height: 654px;
}

footer { 
    background-color: #261914;
    color: white;
}
