@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Young+Serif&display=swap");

:root {
    --cor0: white;
    --cor1: #A1D6CA;
    --cor2: #6EB7A9;
    --cor3: #5C3C27;
    --cor4: #3F2719;
    --cor5: #7E5A41;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor0);
    color: var(--cor4);
    line-height: 1.6;
}

header {
    background-color: var(--cor2);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: var(--cor4);
}

/* Estilos para os botões de navegação */
.nav {
    overflow: hidden;
    background-color: var(--cor2);
}

.nav a {
    float: left;
    display: block;
    color: var(--cor4);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
}

/* Limpar margens e paddings padrão */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


div {
    margin-top: 20px;
}

main {
    padding: 20px;
}

main h1 {
    color: var(--cor3);
}

main h2 {
    color: var(--cor5);
}

main p {
    margin-bottom: 20px;
}

main img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

main ul {
    padding-left: 20px;
}

main li {
    margin-bottom: 10px;
}

footer {
    background-color: var(--cor2);
    padding: 20px;
    text-align: center;
    color: var(--cor4);
}

